<app-navbar></app-navbar>
<main>
    <section class="banner">
        <div class="outer-content">
            <div class="content">
                <svg viewBox="0 0 332 370" fill="#000" class="absolute left-0 top-0 h-1/2 w-auto">
                    <path
                        d="M237.824 71.8a.36.36 0 0 1 .19-.22.353.353 0 0 1 .291-.001.383.383 0 0 1 .126.075.382.382 0 0 1 .12.261.395.395 0 0 1-.024.144.409.409 0 0 1-.499.222.368.368 0 0 1-.204-.48Zm-22.773-2.569a.514.514 0 0 1 .444-.555.517.517 0 0 1 .554.444.479.479 0 0 1-.016.196.494.494 0 0 1-.793.247.516.516 0 0 1-.189-.332Z">
                    </path>
                </svg>
                <h5>Love from our community</h5>
                <h1>What our self-employed community is saying about us</h1>
            </div>
        </div>

        <div class="img-container">
            <img [src]="currentImage" alt="Community Image" />
        </div>
    </section>

    <div class="testimonial-section">
        <div class="header">
            <h2>Members love our...</h2>
            <div class="arrows">
                <button class="arrow left-arrow" (click)="scrollTestimonialLeft()">&lt;</button>
                <button class="arrow right-arrow" (click)="scrollTestimonialRight()">&gt;</button>
            </div>
        </div>
        <div class="testimonial-slider" #testimonialSlider>
            <div class="testimonial-item" *ngFor="let testimonial of testimonials"
                [style.background-color]="testimonial.backgroundColor">
                <div class="testimonial-info">
                    <h2>{{ testimonial.name }}</h2>
                    <p class="description">{{ testimonial.description }}</p>
                    <p class="profession">{{ testimonial.profession }}</p>
                </div>
            </div>
        </div>
    </div>

    <section class="reviews-section">
        <h1 class="section-title">5 star ratings from <span class="trustpilot-logo">Trustpilot</span></h1>
        <div class="reviews-container">
            <div class="review-card">
                <div class="review-header">
                    <img src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/837adc07-6296-4c08-a78d-b8117a0d1333_Screenshot%202024-12-22%20190040.png"
                        alt="Stars" class="review-stars" />
                    <span class="review-tag">5 Star review</span>
                </div>
                <h3 class="review-title">Love this service</h3>
                <p class="review-text">
                    "I've used Spider for over 2 years now to set-up and assist with my S-Corp, and it has been a
                    life saver. I had no idea what I was doing before using them, and random tax and regulatory things
                    will pop up that I would not have known/paid/understood if Spider had not flagged them for me
                    and been there to answer my questions."
                </p>
                <span class="review-date">February 2024</span>
            </div>

            <div class="review-card">
                <div class="review-header">
                    <img src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/837adc07-6296-4c08-a78d-b8117a0d1333_Screenshot%202024-12-22%20190040.png"
                        alt="Stars" class="review-stars" />
                    <span class="review-tag">5 Star review</span>
                </div>
                <h3 class="review-title">An absolute must!!</h3>
                <p class="review-text">
                    "ABSOLUTELY love everything Spider has done (and continues to do!) for my business. My only
                    regret is not working with them sooner—I can't tell you how much stress they've relieved!"
                </p>
                <span class="review-date">February 2024</span>
            </div>

            <div class="review-card">
                <div class="review-header">
                    <img src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/837adc07-6296-4c08-a78d-b8117a0d1333_Screenshot%202024-12-22%20190040.png"
                        alt="Stars" class="review-stars" />
                    <span class="review-tag">5 Star review</span>
                </div>
                <h3 class="review-title">Confidence through knowledge</h3>
                <p class="review-text">
                    "I would not have been able to make this transition without their help, and would definitely have
                    felt less confident that I'd done it right without them. Spider's diligence has allowed me to
                    stay focused on increasing revenue and building the business, which is a great place to be."
                </p>
                <span class="review-date">November 2023</span>
            </div>

            <div class="review-card">
                <div class="review-header">
                    <img src="https://s3.ap-south-1.amazonaws.com/cdn.ghc.health/837adc07-6296-4c08-a78d-b8117a0d1333_Screenshot%202024-12-22%20190040.png"
                        alt="Stars" class="review-stars" />
                    <span class="review-tag">5 Star review</span>
                </div>
                <h3 class="review-title">It doesn't get easier than this!</h3>
                <p class="review-text">
                    "Spider is a lifesaver for my small business. If you've ever found yourself confused or
                    intimidated by taxes, payroll or your decision to go full-monty on the LLC/S-Corp designation,
                    Spider is the partner you're looking for. They'll hold your hand from start to finish."
                </p>
                <span class="review-date">September 2023</span>
            </div>
        </div>
    </section>

    <div class="member-review-section">
        <svg viewBox="0 0 10 8" width="1.5rem" height="1.5rem" class="quote-icon" style="fill: #008866;">
            <path
                d="M3.25183 0.0801287C1.05134 1.53168 0 3.31429 0 5.30062C0 7.0323 1.07579 8 2.24939 8C3.56968 8 4.40098 7.0323 4.40098 5.63168C4.40098 4.40932 3.69193 3.54348 2.81174 3.54348C2.54279 3.54348 2.49389 3.33975 2.54279 3.05963C2.64059 2.29566 3.03178 1.78634 3.93643 0.844104C4.32763 0.411185 3.74083 -0.22546 3.25183 0.0801287ZM8.87531 0.0801287C6.67482 1.53168 5.62347 3.31429 5.62347 5.30062C5.62347 7.0323 6.67482 8 7.87286 8C9.1687 8 10 7.0323 10 5.63168C10 4.40932 9.3154 3.54348 8.43521 3.54348C8.16626 3.54348 8.11736 3.33975 8.16626 3.05963C8.23961 2.29566 8.63081 1.78634 9.53545 0.844104C9.9511 0.411185 9.3643 -0.22546 8.87531 0.0801287Z">
            </path>
        </svg>
        <h2 class="member-review-description">Spider helps me optimize my workload without sacrificing quality </h2>
        <p class="member-review-name">Olivia Nunn,</p>
        <p class="member-review-profession"> PR Agency</p>
    </div>

    <div class="feedback-section">
        <div class="feedback-header">
            <h2 class="feedback-title">Members of our community</h2>
            <div class="navigation-buttons">
                <button class="nav-button left-nav" (click)="scrollFeedbackLeft()">&lt;</button>
                <button class="nav-button right-nav" (click)="scrollFeedbackRight()">&gt;</button>
            </div>
        </div>
        <div class="feedback-slider" #feedbackSlider>
            <div class="feedback-card" *ngFor="let feedback of testimonialFeedback"
                [style.background-color]="feedback.backgroundColor">
                <div class="feedback-image">
                    <img [src]="feedback.image" [alt]="feedback.name" />
                </div>
                <div class="feedback-content">
                    <h2 class="feedback-description">{{ feedback.description }}</h2>
                    <p class="feedback-name">{{ feedback.name }}</p>
                    <p class="feedback-profession">{{ feedback.profession }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="feedback-section">
        <div class="feedback-header">
            <h2 class="feedback-title">Press features</h2>
            <div class="navigation-buttons">
                <button class="nav-button left-nav" (click)="scrollFeaturesLeft()">&lt;</button>
                <button class="nav-button right-nav" (click)="scrollFeaturesRight()">&gt;</button>
            </div>
        </div>
        <div class="feedback-slider" #featuresSlider>
            <div class="feedback-card" *ngFor="let features of pressFeatures"
                [style.background-color]="features.backgroundColor">
                <div class="feedback-image">
                    <img [src]="features.image" />
                </div>
                <div class="feedback-content">
                    <h2 class="features-description">{{ features.description }}</h2>
                    <p class="features-profession">{{ features.profession }}</p>
                </div>
            </div>
        </div>
    </div>


</main>
<app-footer></app-footer>